server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/search_engine
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

indexing-settings:
  sites:
    - url: https://www.playback.ru
      name: PlayBack.Ru
